<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <h4>Indice tematico: <%= quiz.tematico %></h4>
  Pregunta: <%= quiz.pregunta %>
  <input type="text" name="respuesta" value="Responda aquí"/>
  <input type="submit" value="Enviar"/>
</form>
